.#{$ns}offside {
    position: fixed;
    right: -240px;
    width: 240px;
    height: 100%;
    top: 55px;
    background: #fff;
    border-left: 1px solid #ddd;
    transition: all .3s ease;
    padding: 12px 12px 95px 12px;
    z-index: 10;

    &--open {
        transform: translateX(-240px);
    }

    &__content {
        overflow: auto;
        height: 100%;
        left: 0;
    }
}
