<div class="so-overlay" ng-show="login.resolving"></div>

<!--<div class="so-loginBg"></div>-->

<div class="so-block so-block--login">
    <div class="so-block__centered">
        <form class="so-form so-form--login" ng-class="{'is-loading': login.loading, 'animated shake': login.error}">

            <div class="so-form__group" ng-class="{'so-form__group--isError': login.error}">
                <div class="so-form__alert so-form__alert--error animated fadeInDown" ng-if="login.error"><span>{{login.error}}</span></div>
                <input class="so-form__input" type="text" placeholder="Codice Fiscale" ng-model="login.codiceFiscale">
                <input class="so-form__input" type="password" placeholder="Password" ng-model="login.password">
            </div>

            <button type="submit" class="so-btn so-btn--block so-btn--primary so-btn--l" ng-click="login.login(login.codiceFiscale, login.password)">Entra</button>
        </form>
    </div>
</div>


<!--<div class="so-block" style="position: absolute; height: 100%; width: 100%;">
    <div class="so-block__centered">
        <form class="so-loginForm">
            <h1 class="so-loginForm__title h2">Login View</h1>
            <div class="panel panel-default" ng-class="{'is-loading': login.loading, 'animated shake': login.error}">
                <div class="panel-body">
                    <div class="form-group">
                        <input placeholder="Codice Fiscale" class="form-control input-lg" ng-model="login.codiceFiscale">
                    </div>
                    <div class="form-group">
                        <input placeholder="Password"  class="form-control input-lg" ng-model="login.password" type="password">
                    </div>
                    <div class="alert alert-danger" role="alert" ng-show="login.error">{{login.error}}</div>
                </div>
                <div class="panel-footer clearfix">
                    <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="login.login(login.codiceFiscale, login.password)">Entra</button>
                </div>
            </div>
        </form>
    </div>
</div>-->
