<div class="so-overlay" ng-show="login.resolving"></div>

<!--<div class="so-loginBg"></div>-->

<svg style="display: none">
    <symbol id="sun" viewBox="0 0 60 60">
        <circle fill="none" stroke="#F8B133" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="4.0256,4.0256" cx="30" cy="30" r="28.197"/>
        <circle fill="none" stroke="#F8B133" stroke-width="2" stroke-miterlimit="10" stroke-dasharray="3.8997,3.8997" cx="30" cy="30" r="17.383"/>
    </symbol>
    <symbol id="plug" viewBox="0 0 32 81">
        <path d="M14.249,75.955C14.249,78.175 12.449,79.975 10.229,79.975C8.01,79.975 6.21,78.175 6.21,75.955" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M28.326,75.955C28.326,78.175 26.527,79.975 24.307,79.975C22.088,79.975 20.288,78.175 20.288,75.955" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M6.21,75.955L6.21,62.344L14.249,62.344L14.249,75.955" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M20.288,75.955L20.288,62.344L28.326,62.344L28.326,75.955" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M33.537,50.243L33.537,62.344L1,62.344L1,50.243" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M1,50.243C1,41.259 8.283,33.974 17.269,33.974C26.253,33.974 33.537,41.258 33.537,50.243" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M17.675,44.14C19.894,44.14 21.694,45.94 21.694,48.16C21.694,50.379 19.894,52.179 17.675,52.179C15.455,52.179 13.656,50.379 13.656,48.16C13.656,45.94 15.455,44.14 17.675,44.14Z" style="fill:none;stroke-width:1.01px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M14.833,45.316L20.517,51.001" style="fill:none;stroke-width:1.01px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
        <path d="M17.269,33.975L17.269,1" style="fill:none;stroke-width:2.02px;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(150,37,129);"/>
    </symbol>
    <symbol id="drop" viewBox="0 0 41 41">
        <path d="M10.327,34.76C3.579,28.012 1.106,1.105 1.106,1.105C1.106,1.105 28.014,3.577 34.763,10.325C41.509,17.072 41.509,28.012 34.762,34.76C28.014,41.507 17.074,41.507 10.327,34.76" style="fill:white;fill-rule:nonzero;"/>
        <path d="M10.327,34.76C3.579,28.012 1.106,1.105 1.106,1.105C1.106,1.105 28.014,3.577 34.763,10.325C41.509,17.072 41.509,28.012 34.762,34.76C28.014,41.507 17.074,41.507 10.327,34.76Z" style="fill:none;stroke-width:2px;stroke:rgb(31,113,184);"/>
        <path d="M24.003,39.82C19.921,28.801 17.015,14.818 15.084,3.125" style="fill:none;stroke-width:1px;stroke:rgb(31,113,184);"/>
    </symbol>
    <symbol id="drop-o" viewBox="0 0 38 50">
        <path d="M0.5,30.347C0.5,21.041 17.35,0.783 17.35,0.783C17.35,0.783 34.199,21.042 34.2,30.347C34.199,39.652 26.656,47.197 17.35,47.198C8.045,47.197 0.5,39.652 0.5,30.347Z" style="fill:none;stroke-width:1px;stroke:rgb(200,198,197);"/>
    </symbol>
    <symbol id="sun-alt" viewBox="0 0 58 58">
        <path d="M57.396,29.198C57.396,44.771 44.771,57.396 29.198,57.396C13.625,57.396 1,44.771 1,29.198C1,13.625 13.625,1 29.198,1C44.771,1 57.396,13.625 57.396,29.198Z" style="fill:none;stroke-width:2px;stroke-dasharray:4.03,4.03;stroke:rgb(233,78,36);"/>
        <path d="M50.776,29.198C50.776,41.116 41.115,50.777 29.197,50.777C17.28,50.777 7.619,41.116 7.619,29.198C7.619,17.281 17.28,7.62 29.197,7.62C41.115,7.62 50.776,17.281 50.776,29.198Z" style="fill:none;stroke-width:2px;stroke:rgb(233,78,36);"/>
    </symbol>
    <symbol id="bolt" viewBox="0 0 53 28">
        <path d="M53.086,29.53L25.971,2.414L25.971,27.536L0.707,2.272" style="fill:none;stroke-width:2px;stroke:rgb(250,177,46);"/>
    </symbol>
    <symbol id="bolt-alt">
        <path d="M28.322,0.353L1.207,27.468L26.328,27.468L1.064,52.732" style="fill:none;stroke-width:1px;stroke:rgb(200,198,197);"/>
    </symbol>
</svg>

<div class="so-stage">
    <svg class="so-icon so-icon--sun"><use xlink:href="#sun"></use></svg>
    <svg class="so-icon so-icon--plug"><use xlink:href="#plug"></use></svg>
    <i class="so-icon so-icon--cord"></i>
    <div class="so-icon so-icon--graph">
        <i class="so-icon__bar"></i>
        <i class="so-icon__bar"></i>
        <i class="so-icon__bar"></i>
        <i class="so-icon__bar"></i>
        <i class="so-icon__bar"></i>
    </div>
    <svg class="so-icon so-icon--drop"><use xlink:href="#drop"></use></svg>
    <svg class="so-icon so-icon--drop-o"><use xlink:href="#drop-o"></use></svg>
    <svg class="so-icon so-icon--drop-o2"><use xlink:href="#drop-o"></use></svg>
    <svg class="so-icon so-icon--sun-alt"><use xlink:href="#sun-alt"></use></svg>
    <i class="so-icon so-icon--circle"></i>
    <i class="so-icon so-icon--bar"></i>
    <svg class="so-icon so-icon--bolt"><use xlink:href="#bolt"></use></svg>
    <svg class="so-icon so-icon--bolt-alt"><use xlink:href="#bolt-alt"></use></svg>
</div>


<div class="so-block so-block--login">
    <div class="so-block__centered">
        <form class="so-form so-form--login" ng-class="{'is-loading': login.loading, 'animated shake': login.error}">

            <div class="so-form__group" ng-class="{'so-form__group--isError': login.error}">
                <div class="so-form__alert so-form__alert--error animated fadeInDown" ng-if="login.error"><span>{{login.error}}</span></div>
                <input class="so-form__input" type="text" placeholder="Codice Fiscale" ng-model="login.codiceFiscale">
                <input class="so-form__input" type="password" placeholder="Password" ng-model="login.password">
            </div>

            <button type="submit" class="so-btn so-btn--block so-btn--primary so-btn--l" ng-click="login.login(login.codiceFiscale, login.password)">Entra</button>
        </form>
    </div>
</div>
