<div class="row animated fadeInDown" ng-if="weather.data">
    <div class="col-lg-12">
        <div class="panel widget" ng-class="{'is-loading': weather.loading}">
           <div class="row row-table">

              <div class="col-md-2 col-sm-3 col-xs-6 text-center bg-info pv-xl">
                  <em class="fa fa-refresh so-weather__refresh hidden-xs" ng-click="weather.refresh(true)"></em>
                 <em class="wi wi-{{weather.data.attuale.icona}} fa-4x"></em>
              </div>
              <div class="col-md-2 col-sm-3 col-xs-6 pv br">
                 <div class="h1 m0 text-bold">{{weather.data.attuale.temperatura}}°</div>
                 <div class="text-uppercase">{{weather.iconCondition(weather.data.attuale.icona)}}</div>
              </div>

              <div class="col-md-2 col-sm-3 pv text-center" ng-class="{'br': !$last, 'hidden-xs': $index > 2}" ng-repeat="p in weather.data.previsioni.slice(1) | limitTo:(limit-1)">
                 <div class="text-info text-sm">{{p.data}}</div>
                 <div class="text-muted text-md">
                    <em class="wi wi-{{p.icona}}"></em>
                 </div>
                 <div class="text-info">
                    <em class="wi wi-sprinkles"></em>
                    <span class="text-muted">
                        Umidit&agrave; {{p.umidita_pct}}%
                    </span>
                 </div>
                 <div>
                     <span class="text-muted">
                         {{p.temperature.max}}°
                     </span>
                     <span style="color: #bbb">
                         {{p.temperature.min}}°
                     </span>
                 </div>
              </div>
           </div>
        </div>
    </div>

   <div class="col-lg-12" ng-if="weather.chartData">
      <div class="panel widget" ng-class="{'is-loading': weather.loading}">
        <div class="panel-body">
            <div class="text-info">
                <em class="wi wi-thermometer fa-2x text-muted pull-right"></em>
                Andamento previsionale temperature a {{weather.chartData.columns[0].length - 1}} giorni
            </div>
            <div class="pv-lg">
                <div
                    so-chart="weather.chartData"
                    options="weather.chartOptions"
                ></div>
            </div>
        </div>
        <div class="panel-footer">
            <small class="text-muted">Dati offerti dal servizio meteo <a href="http://www.openweathermap.org">OpenWeatherMap</a>. Risultati aggiornati al {{weather.data.attuale.data}}.</small>
        </div>
      </div>
   </div>
</div>
