<ul class="so-alert-group" ng-if="dashboard.state.errors.length">
    <li class="so-alert so-alert--error" ng-repeat="alert in dashboard.state.errors track by $index">
        <div ng-click="dashboard.dismissAlert(alert)">
            <div class="so-alert__title" ng-if="alert.title">{{alert.title}}</div>
            {{alert.text}}
        </div>
    </li>
</ul>

<nav class="so-navbar navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#so-navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button type="button" class="so-toggle--offsideResp btn btn-outline pull-right" ng-click="dashboard.offsideToggle()">
          <span class="fa fa-list-alt"></span>
      </button>

      <div class="navbar-brand" ng-click="dashboard.panel('home')">
          <em class="fa fa-dashboard"></em> SIDECO
      </div>
    </div>

    <div class="collapse navbar-collapse" id="so-navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-class="{active: dashboard.isPanel('home')}" ng-click="dashboard.panel('home')"><a><i class="fa fa-area-chart mr"></i> Sensori</a></li>
        <li ng-class="{active: dashboard.isPanel('building')}" ng-click="dashboard.panel('building')" ng-if="dashboard.state.selectedBuilding"><a><i class="fa fa-map-marker mr"></i> Mappa</a></li>
        <li ng-class="{active: dashboard.isPanel('ui')}" ng-click="dashboard.panel('ui.index')" ng-if="dashboard.state.selectedUI"><a><i class="fa fa-home mr"></i> {{dashboard.state.selectedUI.tipologia}}</a></li>
        <li ng-class="{active: dashboard.isPanel('usage')}" ng-click="dashboard.panel('usage')" ng-if="dashboard.state.selectedUI && dashboard.u.size(dashboard.state.selectedUI.consumi)"><a><i class="fa fa-archive mr"></i> Storico Consumi</a></li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
            <li ng-if="dashboard.u.size(dashboard.unitaImmobiliari) > 1"><a class="so-toggle so-toggle--offside" ng-click="dashboard.offsideToggle()" ng-class="{'so-toggle--isActive': dashboard.state.offsideToggled}"><em class="fa fa-list-alt mr"></em> Edifici</a></li>
            <li><a ng-click="dashboard.logout()"><em class="fa fa-sign-out mr"></em> Esci</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="so-contentWrapper content-wrapper">
    <h3 class="clearfix">
        <span class="pull-left">
            <small class="text-muted">Bentornato</small><br>
            {{dashboard.utenza.nome_cognome}}<br>
            <small><span class="label label-success">Utenza {{dashboard.utenza.tipologia_desc}}</span></small>
        </span>
    </h3>

    <ol class="breadcrumb breadcrumb-so" ng-if="dashboard.state.selectedBuilding">
        <li><a ng-class="{active: dashboard.isPanel('home')}" ng-click="dashboard.panel('home')"><i class="fa fa-area-chart"></i></a></li>
        <li><a ng-class="{active: dashboard.isPanel('building')}" ng-click="dashboard.panel('building')">{{dashboard.state.selectedBuilding.denominazione}}</a></li>
        <li><a ng-class="{active: dashboard.isPanel('ui.index')}" ng-click="dashboard.panel('ui.index')">{{dashboard.state.selectedUI.id}}</a></li>
        <li class="animated fadeInLeft" ng-show="dashboard.state.selectedUI.zone && dashboard.isPanel('ui')"><a ng-click="dashboard.panel('ui.zones')" ng-class="{'active': dashboard.isPanel('ui.zones')}"><i class="fa fa-cubes mr"></i>Zone</a></li>
        <li class="animated fadeInLeft" ng-show="dashboard.state.selectedUI.dispositivi_elettrici && dashboard.isPanel('ui')"><a ng-click="dashboard.panel('ui.devices')" ng-class="{'active': dashboard.isPanel('ui.devices')}"><i class="fa fa-plug mr"></i>Dispositivi Elettrici</a></li>
    </ol>

    <div class="row">
        <div class="so-offside" ng-class="{'so-offside--open': dashboard.state.offsideToggled}">
            <form class="form-inline mb">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-filter"></i></div>
                        <input type="text" class="form-control" ng-model="query" placeholder="Indirizzo">
                    </div>
                </div>
            </form>

            <div class="so-offside__content">
                <so-building-panel model="e" sensori="dashboard.sensori" on-select="dashboard.selectUI" ng-repeat="e in dashboard.edifici | filter:query | orderBy:'denominazione'"></so-building-panel>
            </div>
        </div>

        <main class="col-lg-12" ng-if="dashboard.isPanel('home')">
            <div class="row" ng-if="dashboard.state.selectedUI && !dashboard.state.sensori.length">
                <div class="col-lg-12">
                    <div class="alert alert-warning">Non ci sono sensori da monitorare per questa unità immobiliare</div>
                </div>
            </div>

            {{dashboard.state.dateRange}}

            <div class="row animated fadeInDown" ng-if="dashboard.state.sensori.length">
                <div class="col-md-3 col-sm-12">
                    <so-datepicker start="dashboard.start" end="dashboard.end"></so-datepicker>
                </div>
            </div>

            <so-smart-meter
                ui="dashboard.state.selectedUI.id"
                model="sm"
                start="dashboard.state.dateRange.start"
                end="dashboard.state.dateRange.end"
                ng-repeat="sm in dashboard.state.sensori"
                ng-if="dashboard.state.selectedUI && dashboard.state.dateRange.start && dashboard.state.dateRange.end">
            </so-smart-meter>

            <so-weather ng-if="dashboard.weather"></so-weather>
        </main><!-- home -->

        <main class="col-lg-12" ng-show="dashboard.isPanel('usage')">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary clearfix" ng-if="dashboard.state.selectedUI" ng-repeat="(k, table) in dashboard.parsed">
                        <h3 class="panel-title pull-left pv ph"><i class="fa fa-archive mr"></i>{{k}}</h3>
                        <table
                            datatable="ng"
                            dt-options="dashboard.dtOptions"
                            class="table table-striped"
                        >
                            <thead>
                                <tr>
                                    <th ng-repeat="th in table.th">{{th}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tr in table.tr">
                                    <td ng-repeat="td in tr track by $index">
                                        {{td}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
        </main><!-- eur -->

        <main class="col-lg-12" ng-if="dashboard.isPanel('building')">
            <div class="row">
                <div class="col-lg-12">

                    <so-map></so-map>

                    <div class="panel panel-primary clearfix">
                        <h3 class="panel-title pull-left pv ph"><i class="fa fa-building mr"></i>{{dashboard.state.selectedBuilding.denominazione}}</h3>
                        <table datatable="ng" dt-options="dashboard.dtOptions" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Chiave</th>
                                    <th>Valore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in dashboard.state.selectedBuilding.parsed">
                                    <td>{{row.k}}</td>
                                    <td>{{row.v}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </main><!-- building -->

        <main class="col-lg-12" ng-show="dashboard.isPanel('ui')">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary clearfix" ng-show="dashboard.isPanel('ui.index')">
                        <h3 class="panel-title pull-left pv ph"><i class="fa fa-home mr"></i> {{dashboard.state.selectedUI.id}}</h3>
                        <table datatable="ng" dt-options="dashboard.dtOptions" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Chiave</th>
                                    <th>Valore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in dashboard.state.selectedUI.parsed">
                                    <td>{{row.k}}</td>
                                    <td>{{row.v}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="container-fluid" ng-if="dashboard.isPanel('ui.devices')">
                        <div class="row">

                            <div class="col-sm-6">
                                <so-chart-panel
                                    title="Utilizzo h/giorno"
                                    icon="hourglass"
                                    label="tipologia"
                                    keys="modalita_utilizzo_h_g"
                                    suffix="h/giorno"
                                    collection="dashboard.state.selectedUI.dispositivi_elettrici"
                                ></so-chart-panel>
                            </div>

                            <div class="col-sm-6">
                                <so-chart-panel
                                    title="Potenza nominale"
                                    icon="bolt"
                                    label="tipologia"
                                    keys="potenza_nominale_w"
                                    suffix="W"
                                    collection="dashboard.state.selectedUI.dispositivi_elettrici"
                                ></so-chart-panel>
                            </div>

                            <div class="col-sm-6">
                                <so-chart-panel
                                    title="Consumo energetico"
                                    icon="bolt"
                                    label="tipologia"
                                    keys="potenza_nominale_w,modalita_utilizzo_h_g"
                                    suffix="KWh"
                                    collection="dashboard.state.selectedUI.dispositivi_elettrici"
                                    y="dashboard.chartData.dispositiviElettrici.consumoEnergetico"
                                ></so-chart-panel>
                            </div>

                            <div class="col-sm-6">
                                <so-chart-panel
                                    title="Conteggio"
                                    icon="th-large"
                                    label="tipologia"
                                    keys="conteggio"
                                    collection="dashboard.state.selectedUI.dispositivi_elettrici"
                                    chart-type="column"
                                ></so-chart-panel>
                            </div>
                        </div>
                    </div>

                    <div ng-if="dashboard.isPanel('ui.zones')" class="row">
                        <div class="col-sm-12">
                            <so-chart-panel
                                title="Consumo illuminazione zona"
                                icon="bolt"
                                label="tipologia"
                                suffix="W"
                                collection="dashboard.state.selectedUI.zone"
                                y="dashboard.chartData.zone.consumoEnergetico"
                                chart-type="column"
                                keys="illuminazione"
                                ng-if="dashboard.u.size(dashboard.state.selectedUI.zone)"
                            ></so-chart-panel>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="float: none; display: inline-block; vertical-align: top" ng-repeat="z in dashboard.state.selectedUI.zone">
                            <div class="panel panel-success">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title">
                                        <span class="badge pull-right" title="Conteggio">{{z.conteggio}}</span>
                                        <i class="fa fa-cube mr"></i> {{z.tipologia || 'ID #' + z.id}}
                                    </h3>
                                </div>

                                <ul class="list-group list-group-so">
                                    <li class="list-group-item"><span class="text-muted">SUPERFICIE</span><br>{{z.superficie_mq || 0}} m<sup>2</sup></li>
                                    <li class="list-group-item"><span class="text-muted">INFISSI</span><br>{{z.infissi.tipologia_vetro}} su {{z.infissi.tipologia_telaio}}</li>
                                </ul>

                                <div class="panel-footer" ng-if="dashboard.u.size(z.illuminazione)">
                                    <h4 class="text-muted"><i class="fa fa-lightbulb-o mr"></i> Illuminazione</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="i in z.illuminazione">
                                            <span class="badge bg-warning pull-left mr">{{i.quantita}}</span> <i class="fa fa-mul"></i>
                                            {{i.tipologia}} <span class="text-muted pull-right">{{i.potenza_nominale_w * i.quantita || 0}}W</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main><!-- ui -->
    </div>
</div>
