<div class="so-overlay" ng-class="{'so-overlay--error': dashboard.error}" ng-show="dashboard.loading"></div>

<div class="content-wrapper">
    <h3>
        <em class="fa fa-pie-chart"></em> Dashboard
        <small>CODICE_FISCALE</small>
    </h3>

    <div class="row">
        <aside class="col-lg-3 col-lg-push-9">


      <div class="panel" ng-repeat="e in dashboard.store.edifici">

        <div class="panel-heading  bg-gray-dark">
            <div class="panel-title">
                {{e.denominazione}}<br>
                <small>ADDRESS</small>
            </div>
        </div>

        <div class="panel-body">
            <ul class="list-inline">
                <li ng-repeat="ui in dashboard.findByE(e.id)">
                    <a href="#" ng-click="dashboard.select(ui.id)"><em class="fa fa-home"></em> {{ui.id}}</a>
                </li>
            </ul>
        </div>
      </div>

        </aside>
        <main class="col-lg-9 col-lg-pull-3">

            <div class="row animated fadeInDown" ng-if="dashboard.selected">
                <div class="col-lg-4 col-md-6">
                    <div class="panel widget bg-success">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-success-dark pv-lg">
                                <em class="fa fa-home fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-lg">
                                <div class="h1 m0 text-bold">{{dashboard.selected}}</div>
                                <div class="text-uppercase">Numero Contatore</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="panel widget bg-warning">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                                <em class="fa fa-plug fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-lg">
                                <div class="h1 m0 text-bold">{{dashboard.store.sensori.length}}</div>
                                <div class="text-uppercase">Numero Sensori</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <div class="panel widget bg-purple">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
                                <em class="fa fa-plug fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-lg">
                                <div class="h1 m0 text-bold">{{dashboard.store.sensori.length}}</div>
                                <div class="text-uppercase">Numero Sensori</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <so-smart-meter
                id="dashboard.selected"
                data="sm"
                metric="sm.tipologia"
                channels="sm.numero_canali"
                ng-repeat="sm in dashboard.store.sensori"
                ng-if="dashboard.selected">
            </so-smart-meter>

            <so-weather fetch="dashboard.getWeather()" limit="5"></so-weather>
        </main>
    </div>
</div>
