<ul class="so-alert-group" ng-if="dashboard.state.errors.length">
    <li class="so-alert so-alert--error" ng-repeat="alert in dashboard.state.errors track by $index">
        <div ng-click="dashboard.dismissAlert(alert)">
            <div class="so-alert__title" ng-if="alert.title">{{alert.title}}</div>
            {{alert.text}}
        </div>
    </li>
</ul>

<nav class="so-navbar navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#so-navbar-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <button type="button" class="so-toggle--offsideResp btn btn-outline pull-right" ng-click="dashboard.offsideToggle()">
          <span class="fa fa-list-alt"></span>
      </button>


      <div class="navbar-brand">
          <em class="fa fa-dashboard"></em> Dashboard
      </div>
    </div>

    <div class="collapse navbar-collapse" id="so-navbar-collapse">

      <ul class="nav navbar-nav">
        <li ng-class="{active: dashboard.state.panel == 'home'}" ng-click="dashboard.panel('home')"><a><i class="fa fa-home mr"></i> Sommario</a></li>
        <li ng-class="{active: dashboard.state.panel == 'building'}" ng-click="dashboard.panel('building')" ng-if="dashboard.state.selectedBuilding"><a><i class="fa fa-database mr"></i> Edificio</a></li>
        <li ng-class="{active: dashboard.state.panel == 'ui'}" ng-click="dashboard.panel('ui')" ng-if="dashboard.state.selectedUI"><a><i class="fa fa-database mr"></i> Unit&agrave;</a></li>
        <li ng-class="{active: dashboard.state.panel == 'usage'}" ng-click="dashboard.panel('usage')" ng-if="dashboard.state.selectedUI"><a><i class="fa fa-eur mr"></i> Consumi</a></li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a class="so-toggle so-toggle--offside" ng-click="dashboard.offsideToggle()" ng-class="{'so-toggle--isActive': dashboard.offsideToggled}"><em class="fa fa-list-alt mr"></em> Edifici</a></li>
            <li><a ng-click="dashboard.logout()"><em class="fa fa-sign-out mr"></em> Esci</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="so-contentWrapper content-wrapper">
    <h3 class="clearfix">
        <span class="pull-left">
            <small class="text-muted">Bentornato</small><br>
            {{dashboard.utenza.codice_fiscale}}
        </span>
    </h3>

    <div class="row">

        <div class="so-offside" ng-class="{'so-offside--open': dashboard.state.offsideToggled}">
            <form class="form-inline mb">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-filter"></i></div>
                        <input type="text" class="form-control" ng-model="query" placeholder="Indirizzo">
                    </div>
                </div>
            </form>

            <div class="so-offside__content">
                <so-building-panel model="e" sensori="dashboard.sensori" on-select="dashboard.selectUI" ng-repeat="e in dashboard.edifici | filter:query | orderBy:'denominazione'"></so-building-panel>
            </div>
        </div>

        <main class="col-lg-12" ng-if="dashboard.state.panel == 'home'">
            <div class="row" ng-if="dashboard.state.selectedUI && !dashboard.state.sensori.length">
                <div class="col-lg-12">
                    <div class="alert alert-warning">Non ci sono sensori da monitorare per questa unità immobiliare</div>
                </div>
            </div>

            <div class="row animated fadeInDown" ng-if="dashboard.state.sensori.length">
                <div class="col-lg-3 col-md-12">
                    <so-datepicker start="dashboard.start" end="dashboard.end"></so-datepicker>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="panel widget bg-danger">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-danger-dark pv-lg">
                                <em class="fa fa-fire fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-lg">
                                <div class="h2 m0 text-bold">0</div>
                                <div class="text-uppercase">Consumi Gas</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="panel widget bg-info">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-info-dark pv-lg">
                                <em class="fa fa-tint fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-lg">
                                <div class="h2 m0 text-bold">0</div>
                                <div class="text-uppercase">Consumi Idrici</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12">
                    <div class="panel widget bg-warning">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center bg-warning-dark pv-lg">
                                <em class="fa fa-bolt fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-lg">
                                <div class="h2 m0 text-bold">0</div>
                                <div class="text-uppercase">Consumi Elettrici</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <so-smart-meter
                ui="dashboard.state.selectedUI.id"
                model="sm"
                start="dashboard.start"
                end="dashboard.end"
                ng-repeat="sm in dashboard.state.sensori"
                ng-if="dashboard.state.selectedUI && dashboard.start && dashboard.end">
            </so-smart-meter>

            <so-weather></so-weather>
        </main><!-- home -->

        <main class="col-lg-12" ng-show="dashboard.state.panel == 'usage'">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary clearfix" ng-if="dashboard.state.selectedUI" ng-repeat="(k, table) in dashboard.parsed">
                        <h3 class="panel-title pull-left pv ph">{{k}}</h3>
                        <table
                            datatable="ng"
                            dt-options="dashboard.dtOptions"
                            class="table table-striped"
                        >
                            <thead>
                                <tr>
                                    <th ng-repeat="th in table.th">{{th}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="tr in table.tr">
                                    <td ng-repeat="td in tr">
                                        {{td}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
        </main><!-- eur -->

        <main class="col-lg-12" ng-if="dashboard.state.panel == 'building'">
            <div class="row">
                <div class="col-lg-12">

                    <so-map></so-map>

                    <div class="panel panel-primary clearfix">
                        <h3 class="panel-title pull-left pv ph">{{dashboard.state.selectedBuilding.denominazione}}</h3>
                        <table datatable="ng" dt-options="dashboard.dtOptions" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Chiave</th>
                                    <th>Valore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in dashboard.state.selectedBuilding.parsed">
                                    <td>{{row.k}}</td>
                                    <td>{{row.v}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </main><!-- building -->

        <main class="col-lg-12" ng-show="dashboard.state.panel == 'ui'">
            <div class="row">
                <div class="col-lg-12">

                    <div class="panel panel-primary clearfix">
                        <h3 class="panel-title pull-left pv ph">{{dashboard.state.selectedUI.id}}</h3>
                        <table datatable="ng" dt-options="dashboard.dtOptions" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Chiave</th>
                                    <th>Valore</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in dashboard.state.selectedUI.parsed">
                                    <td>{{row.k}}</td>
                                    <td>{{row.v}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </main><!-- ui -->
    </div>
</div>
