<div class="panel" ng-if="panel.state.chartData">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left"><i class="fa fa-{{panel.state.icon || 'database'}} mr"></i> {{panel.state.title}}</h3>
        <div class="btn-toolbar pull-right">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-default" ng-class="{active: panel.chartType() == 'doughnut'}" ng-click="panel.chartType('doughnut')"><i class="fa fa-pie-chart"></i></button>
                <button type="button" class="btn btn-default" ng-class="{active: panel.chartType() == 'column'}" ng-click="panel.chartType('column')"><i class="fa fa-bar-chart"></i></button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div so-chart dps="panel.state.chartData" style="height: 300px" minimum="0"></div>
    </div>
</div>
