.#{$ns}u-ctx {
    position: relative !important;
}

.animated--delayed {
    animation-delay: 1s;
}

.animated--fast {
    animation-duration: .3s;
}

.breadcrumb-so {
    background: transparent;

    .active {
        color: #555;
    }
}

.panel > .list-group-so .list-group-item {
    border-top: 1px solid #e4eaec;
}

.so-nodps {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -24px;
    width: 100%;
    text-align: center;
    left: 0;
}

.so-table-wrap {
    margin-bottom: 72px;
}

.so-alert-group {
    position: fixed;
    top: 0;
    width: 240px;
    left: 50%;
    margin-left: -120px;
    color: #fff;
    z-index: 9999;
    text-align: center;

    > .#{$ns}alert {
        box-shadow: 0 0 15px rgba(#000, .45);
        list-style: none;
        display: block;
        margin: 0 auto 3px;
        font-size: 18px;

        > div {
            padding: 6px;
        }
    }
}

.#{$ns}alert {
    position: relative;

    &--error {
        background-color: red;
    }

    &__title {
        font-size: 12px;
        text-transform: uppercase;
        background: rgba(#000, .25);
        color: rgba(#fff, .45);
        margin: -6px -6px 6px;
        padding: 6px;
    }
}




.is-loading,
.is-loading--noProgress {
    //opacity: 0.25 !important;
    position: relative;
    cursor: progress;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(#fff, 0.65);
        z-index: 10;
    }
}

.is-loading {
    &::after {
        content: "";
        position: absolute;
        border: solid 4px $primary;
        border-bottom-color: transparent;
        height: 36px;
        width: 36px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        margin-top: -18px;
        margin-left: -18px;
        animation: rotate .6s infinite linear;
        z-index: 100;
    }
}


.so-weather__refresh {
    position: absolute;
    left: 12px;
    top: 12px;
    opacity: .65;
    cursor: pointer;
}

.fa {
    &.is-active {
        color: $danger;
    }
}


.so-map {
    margin: -20px -20px 20px -20px;
}


.so-users {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 10;
}


.so-pill {}
.so-pill__range {
    color: #fff;
    color: rgba(#fff, .45) !important;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-align: left;
    padding: 0 12px;
}

/**
 * Nascondo il tasto di pan di CanvasJS per evitare un bug durante la sincronizzazione
 */
button[state='pan'] {
    display: none !important;
}


.so-pills {
    display: table;
    table-layout: fixed;
}

.so-pill {
    display: table-cell;
    outline: 1px solid red;
}
